/* Estilos CSS */
body {
    background-image: url('calculo.jpg'); /* Reemplaza 'ruta/a/tu/imagen/de/fondo.jpg' con la ruta correcta de tu imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-attachment: fixed; /* Fijar el fondo para que no se desplace con el desplazamiento de la página */
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}
input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
button {
    background-color: #b6883e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #b6883e;
}
#resultados {
    text-align: left;
    margin-top: 20px;
}
